<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FilmApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <FilmApp.Properties.Settings>
            <setting name="NomFichierExportFilms" serializeAs="String">
                <value>mesFilms</value>
            </setting>
            <setting name="Disque1" serializeAs="String">
                <value>F:\</value>
            </setting>
            <setting name="Disque2" serializeAs="String">
                <value />
            </setting>
            <setting name="Disque3" serializeAs="String">
                <value />
            </setting>
            <setting name="Disque4" serializeAs="String">
                <value />
            </setting>
            <setting name="Disque5" serializeAs="String">
                <value />
            </setting>
            <setting name="CheminFichierExportFilms" serializeAs="String">
                <value>F:\</value>
            </setting>
        </FilmApp.Properties.Settings>
    </userSettings>
</configuration>
