<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfScriptFilms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="Disque1" value="C:"/>
    <add key="Disque2" value=""/>
    <add key="Disque3" value=""/>
    <add key="Disque4" value=""/>
    <add key="Disque5" value=""/>
  </appSettings>
  <userSettings>
    <WpfScriptFilms.Properties.Settings>
      <setting name="Disque1" serializeAs="String">
        <value>F:\</value>
      </setting>
      <setting name="Disque2" serializeAs="String">
        <value />
      </setting>
      <setting name="Disque3" serializeAs="String">
        <value />
      </setting>
      <setting name="Disque4" serializeAs="String">
        <value />
      </setting>
      <setting name="Disque5" serializeAs="String">
        <value />
      </setting>
      <setting name="NomFichierExport" serializeAs="String">
        <value>MesFilms</value>
      </setting>
      <setting name="EmplacementFichierExport" serializeAs="String">
        <value>F:\</value>
      </setting>
    </WpfScriptFilms.Properties.Settings>
  </userSettings>
</configuration>
